header{
    background-color: aqua;
    background-image: url(img/pattern.png);
    background-repeat;
}
#logo{
    width: 15%;
    margin-top: 60px;
}
h1{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 3px;
}